.container {
  display: flex !important;
  justify-content: center !important;
}

.wrapper {
  max-width: 900px;
  text-align: justify;
}

.title {
  padding: 30px 30px;
}

.new,
.edit {
  display: flex;
  flex-direction: column;
}

.links {
  padding: 50px 20px;
  display: flex;
  justify-content: space-around;
}

.index-link,
.delete-link,
.edit-link {
  font-size: 24px;
}

.index-link a {
  color: $yellow;
}

.delete-link a {
  color: $red;
}

.form-control {
  width: 900px;
}

.content {
  max-height: 400px;
}
