<div class="container">
  <div class="wrapper-index">
    <div class="index">
      <% @articles.each do |article| %>
        <%= link_to article_path(article) do %>
          <h3><%= article.title %></h3>
        <% end %> <br>
        <%= article.content %>
        <hr>
      <% end %>
    </div>
  </div>
</div>

